*, html, body {
  margin: 0;
  padding: 0;
  
}

.body {
  background: rgba(0,138,252,0.1);

}
.App {
  text-align: center;
  background: rgba(0,138,252,0.1);
  padding-bottom: 50px;
  height: 100vh;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.header {
  background: rgba(0,138,252,1);
  color: #fff;
}
/* Next buttons stlying */
.btn {
  margin-top: 30px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #FF5829;
  box-shadow: 0 1px 1px rgb(189, 186, 186);
  border: 1px solid #FF5829;
}

.form-wrapper {
  background: #fff;
  width: 50%;
  height: 700px;
  margin: 0 auto;
  padding: 50px;
  -webkit-box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.75);
box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.75);
}


.book-your-move {
  padding: 10px 20px;
  background-color:#008AFC;
  color: #fff;
}

.book-your-move:hover {
  cursor: pointer;
  color: #fff;
  background-color: #FF5829;
  box-shadow: 0 1px 1px rgb(189, 186, 186);
}

.truck-icon {
  display: block;
  margin: 0 auto 20px auto;
}

.form-icon, .customer-icon {
  width: 75px;
  height: auto;
}

.services-row {
  align-items: center;
  text-align:middle;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.services-sub-row {
  align-items: center;
  text-align:middle;
  width: 250px;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 767px) {

  .form-wrapper {
    width: 80%;

  }
}